body {
  margin: 0 auto;
  margin-bottom: 90px;
  width: 60%;
  min-width: 600px;
}
pre {
  color: #333;
  background-color: #f6f7fa;
  padding: 20px 10px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}
a {
  color: #08c;
}
p {
  text-indent: 2rem;
  line-height: 2.5rem;
}
body img {
  display: block;
  margin: 0 auto;
}
